{% extends "base.html" %}
{% load static %}
{% block title %}
    Ваша Корзина
{% endblock %}
{% block content %}
    <h1>Ваша Корзина</h1>
    <table class="table">
        <thead>
        <tr>
            <th>фото</th>
            <th>книга</th>
            <th>количество</th>
            <th>Удалить</th>
            <th>цена</th>
            <th>общая цена</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.image.url }}" width="100px" height="80px">
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url 'cart:cart_remove' product.id%}">Удалить</a></td>
                    <td class="num">${{ item.price }}</td>
                    <td class="num">${{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>
итог</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url 'product_list' %}" class="link-success">
         Добавить еще книг</a>
        <a href="{% url 'orders:order_create' %}" class="link-danger">
            <br>
    заказать
        </a>
    </p>
{% endblock %}
