{% extends "base.html" %}
{% load static %}
{% block title %}
    Products
{% endblock %}
{% block content %}
    <div id="container p-3 my-3 border">
<!--        <h3>Categories</h3>-->
        <ul>
        </ul>
    </div>
    <div id="main" class="container p-3 my-3 border">
        <h1>Книги</h1>
        {% for product in products %}
            <div class="container p-3 my-3 border">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{{ product.image.url }}" class="img-fluid" height="20%" width="20%">
                </a>
                <br>

                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                ${{ product.price }}
            </div>
        {% endfor %}
    </div>
{% endblock %}