{% extends "base.html" %}
{% load static %}
{% block title %}
    Products
{% endblock %}
{% block content %}
    <div id="sidebar">
        <h3>Categories</h3>
        <ul>
        </ul>
    </div>
    <div id="main" class="product-list">
        <h1>Products</h1>
        {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{{ product.image.url }}" class="img-thumbnail" width="100px" height="100px">
                </a>
                <br>

                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                ${{ product.price }}
            </div>
        {% endfor %}
    </div>
{% endblock %}